* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}

.header {
  padding:35px 0;
  background-color: darkgray;
  position: relative;
  overflow: hidden;
}

.header h1 {
  position: static;
  left: 25px;
  top: 35px;
  font-size: 45px;
  color: rgb(255, 190, 152);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 100px;
}

.header nav {
  position:absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 30px;
}

.header nav ul li {
  display: inline-block;
  margin-left: 35px;
}

.header nav ul li a {
  color: darkgray;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

.header nav ul li a span {
  border-bottom: 5px solid darkgray;
  padding-bottom: 5px;
}

.header nav ul li a:hover span {
  border-color: rgb(255, 190, 152);
  color: rgb(255, 190, 152);
}

.hero-banner {
  position: relative;
  background-image: url(/images/bulb-banner.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
}

.hero-content {
  position: absolute;
  bottom: 20px;
  right: 50px;
  text-align: right;
  font-size: 25px;
  font-family: Helvetica, sans-serif;
}

.hero-content h2 {
  margin: 0;
  color: rgb(255, 190, 152);
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 5px 50px;
}

.grid-container, .new-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.grid-item, .new-grid-item {
  padding: 30px;
  position: relative;
}

.grid-container .grid-item:nth-child(2), .new-grid-container .new-grid-item:nth-child(2) {
  border-left: 5px solid rgb(255, 190, 152);
}

.grid-item:first-child h2 {
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  padding-bottom: 10px;
}

.grid-container:nth-of-type(2) .grid-item:first-child h2 {
  position: absolute;
  top: 0px;
  right: 20px;
}

.new-grid-container .new-grid-item:first-child h2 {
  position: absolute;
  top: 0px;
  right: 20px;
  color: rgb(255, 190, 152);
}

.grid-item p {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px;
}

.nested-grid {
  display: grid;
  grid-template-rows: auto auto auto; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10px; 
}

.nested-item-large {
  grid-column: 1 / -1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nested-item-large img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 20px;
}

.nested-item-small {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.nested-item-large img, .nested-item-small img {
  transition: transform 0.3s ease;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.nested-item-large img:hover, .nested-item-small img:hover {
  transform: scale(1.1); 
  cursor: pointer;
}

.project-description {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); 
  color: rgb(255, 190, 152); 
  width: 100%;
  padding: 10px;
  text-align: left;
}

.project-description h3, .project-description p {
  color: rgb(255, 190, 152);
  text-align: left;
}

/* .new-grid-item {
  padding: 10px;
  position: relative;
} */

.new-grid-container .new-grid-item:nth-child(2) {
  border-left: 5px solid rgb(255, 190, 152);
}

.new-nested-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  grid-gap: 5px;
  padding: 30px;
}

.new-nested-item-link {
  color: rgb(0, 0, 0, 0.6);
  text-decoration: none;
  transition: color 0.3s ease;
}

h2 {
  color: rgb(255, 190, 152);
  font-family: Helvetica, sans-serif;
  font-size: 35px;
}

h3 {
  color: rgb(0, 0, 0, 0.6);
  font-family: Helvetica, sans-serif;
  font-size: 25px;
}

.new-nested-item-link:hover {
  color: rgb(255, 190, 152);
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

.footer h4 {
  font-size: 16px;
  color: rgb(0, 0, 0, 0.6);
}

@media screen and (max-width: 900px) {
  .header nav {
      position: static;
      top: auto;
      transform: none;
      margin-right: 0;
  }
  .header h1, .header nav {
      text-align: center;
  }
  .header nav ul li a {
    color: rgb(255, 190, 152);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid-container, .new-grid-container {
    grid-template-columns: 1fr;
}

.grid-item, .new-grid-item {
    padding: 10px;
    margin-right: 20px;
}
}

}